.mat-table {
    margin: 50px;
  }



  table tr td {
    width: 120px;
    padding: 6px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

tr.is-red {
    background: red;
}

tr.is-green{
    background: green;
}