<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'push'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-toolbar color="indigo" >
      <span> Menu </span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/overview" > Overview</a>
      <a mat-list-item href="/tradebook">Tradebook</a>
      <a mat-list-item href="/stockOb">Stock Obligation</a>
      <a mat-list-item href="/fundOb">Fund Obligation</a>
      <a mat-list-item href="/csreport">Cost Settlement Report</a>
      <a mat-list-item href="/careport">Corporate Actions Report</a>
      <a mat-list-item href="/cm-tradebook"> CM Tradebook</a>
      <a mat-list-item href="/login">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="primary"
        *ngIf="!loggedIn" class="disabled"
      >
        <mat-icon aria-label="Side nav toggle icon" >menu</mat-icon>
      </button>
      <span>Clearing House</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
