<p text-align='center'>FundOBLIGATION REPORT</p>
<p>{{fundobligation[0]}}</p>
<mat-table class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> CM </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ getData[0].name | async }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="value1">
      <mat-header-cell *matHeaderCellDef> Fund Obligation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getData.value1 | async }} </mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>