<!-- <p text-align ="center">Corporate Actions Report</p> 
<mat-table [dataSource]="getData" class="mat-elevation-z8">
    
    <ng-container matRowDef="stockName">
      <mat-header-cell  *matHeaderCellDef>Name of Stock</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.stockName | json}}</mat-cell>
    </ng-container>

  
    <ng-container matRowDef="openingBalance">
      <mat-header-cell  *matHeaderCellDef>Opening Balance</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.openingBalance | json}}</mat-cell>
    </ng-container>


    <ng-container matRowDef="dailyObligation">
      <mat-header-cell *matHeaderCellDef>Daily Obligation</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dailyObligation | json}}</mat-cell>
    </ng-container>

    <ng-container matRowDef="netTotal">
      <mat-header-cell  *matHeaderCellDef> Net Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.netTotal| json}} </mat-cell>
    </ng-container>

    <ng-container matRowDef="corporateAction">
      <mat-header-cell  *matHeaderCellDef>Corporate Actions </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.corporateAction | json}} </mat-cell>
    </ng-container>

    <ng-container matRowDef="closingBalance">
      <mat-header-cell  *matHeaderCellDef> Closing Balance</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closingBalance | json}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->