<p text-align ="center">Corporate Actions Report</p> 
<mat-table [dataSource]="getData" class="mat-elevation-z8">

    <!--- Note mat-header-cellat mat-header-cellese columns can be defined in any order.
          mat-header-celle actual rendered columns are set as a property on mat-header-celle row definition" -->
  

         


    <!-- Name Column -->
    <ng-container matRowDef="stockName">
      <mat-header-cell  *matHeaderCellDef>Name of Stock</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.stockName | json}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matRowDef="openingBalance">
      <mat-header-cell  *matHeaderCellDef>Opening Balance</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.openingBalance | json}}</mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matRowDef="dailyObligation">
      <mat-header-cell *matHeaderCellDef>Daily Obligation</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dailyObligation | json}}</mat-cell>
    </ng-container>

    <ng-container matRowDef="netTotal">
      <mat-header-cell  *matHeaderCellDef> Net Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.netTotal| json}} </mat-cell>
    </ng-container>

    <ng-container matRowDef="corporateAction">
      <mat-header-cell  *matHeaderCellDef>Corporate Actions </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.corporateAction | json}} </mat-cell>
    </ng-container>

    <ng-container matRowDef="closingBalance">
      <mat-header-cell  *matHeaderCellDef> Closing Balance</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closingBalance | json}} </mat-cell>
    </ng-container>
    
    
    
  
    <mat-header-column *matHeaderColumnDef="displayedColumns"></mat-header-column>
    <mat-row *matRowDef="let row; rows: displayedRows;"></mat-row>
  </mat-table>
  
  
  
