
.mat-table {
    margin: 10px;
  }

.mat-card {
    width: 3cm;
    text-align: center;
    align-content: center;

}

  table tr td {
    width: 120px;
    padding: 6px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}